*,
*::before,
*::after {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #2F0147;
}

.form__group {
    margin-bottom: 1.5em;
    transition: all .5s;
}

.form__group:focus-within {
    transform: scale(1.15, 1.15);
}

.form__group-label {
    color: #aaa;
    display: block;
    opacity: .7;
    transform: translateY(-1.3em);
    transform-origin: 0 0;
    transition: all .3s;
}

.form__group-input {
    color: #fff;
    transition: all .5s;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    width: 100%;
}

.form__group-input::placeholder {
    color: transparent;
}

.form__group-input:focus {
    box-shadow: none;
    outline: none;
    border-color: #9D00D6;
}

.form__group-input:focus+.form__group-label,
.form__group-input:not(:placeholder-shown)+.form__group-label {
    color: white;
    transform: translateY(-2.5em) scale(.7);
}