body {
    margin-left: 5%;
}

.task-description-text {
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    transition: all .2s;
}

.image:hover {
    transform: scale(1.1);
}

.image_first-image {
    border: 5px solid black;
    border-radius: 50%;
}

.image_second-image {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.diamond,
.dia {
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.diamond {
    transform: rotate(45deg) translateY(-25px) translateX(-25px);
}

.dia {
    width: 380px;
    height: 380px;
    transform: rotate(-45deg);
}

.image_third-image {
    width: 100%;
    height: auto;
}