.button {
    font-size: 0.9rem;
    font-weight: 600;
    position: relative;
    color: var(--color-whiteColor);
    background-color: var(--bgColor-addBookButtonBgColor);
    width: 100%;
    text-transform: uppercase;
    padding: 17px;
    border-radius: 7px;
    transition: .3s;
}

.button:hover {
    background-color: var(--bgColor-addBookButtonHoverColor);
}

.button:active {
    background-color: var(--bgColor-addBookButtonActiveColor);
}

.button::before {
    content: url('./../images/plus-icon-for-button.svg');
    position: absolute;
    display: block;
    left: 10px;
    width: 15px;
    height: 15px;
}