*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'ProximaNova', sans-serif;
    height: 100vh;
}

button {
    cursor: pointer;
}

.flex-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    margin-top: 43px;
}

.divider {
    background-color: var(--sidebarDividerColor);
    border-top: 2px solid var(--sidebarDividerBorderTopColor);
    border-bottom: 2px solid var(--sidebarDividerBorderBottomColor);
    height: 5px;
}