*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'ProximaNova', sans-serif;
    height: 100vh;
}

.flex-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}