*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'ProximaNova', sans-serif;
}

.grid-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

@media (max-width: 1320px) {
    .container {
        padding: 0;
    }
}