:root {
    --color-headerHelpColor: #69738c;
    --color-blueColor: #15a4fa;
    --color-whiteColor: #fff;
    --color-semiDarkColor: #1f2637;

    --bgColor-headerBgColor: #2f364a;
    --bgColor-footerBgColor: #181e2c;
}
